<div class="container">
    <div class="item-content text-center mt-5">
        <h3>{{articleDetail?.title}}</h3>
        <img class="mt-4" src={{articleDetail?.image}} alt="">
        <p class="mt-4">{{articleDetail?.content}}</p>
        <p>{{articleDetail?.createdAt}}</p>
    </div>
</div>
