<div class="container">
  <h3 class="text-center mt-5">List Articles</h3>
  <div class="search-sort mt-4">
    <!-- Search -->
    <div class="search mb-4 row">
      <div class="col-10">
        <input 
        type="text" 
        placeholder="Write something to search..."
        [(ngModel)]="value"
        >
      </div>
      <div class="col-2">
        <button (click)="startToSearch()">Search</button>
      </div>
    </div>
    <!-- Sort -->
    <div class="sort d-flex justify-content-end">
      <button 
      style="margin-right: 15px;" 
      type="button" 
      class="btn btn-primary"
      (click)="sortCreateDate('desc')"
      >
      Sort by create date and order by desc</button>
      <button 
      type="button" 
      class="btn btn-warning"
      (click)="sortCreateDate('asc')"
      >
      Sort by create date and order by asc</button>
    </div>
  </div>
  <!-- List Articles -->
  <ul class="list-unstyled">
    <li class="media d-flex my-4" *ngFor="let item of listArticles" (click)="articleDetail(item.id)">
      <img src={{item.image}} class="px-3" alt="article-image">
      <div class="media-body">
        <a class="mt-0 mb-1">{{item.title}}</a>
        {{item.content}}
      </div>
    </li>
  </ul>
</div>

<!-- Pagination -->
<div class="pagination justify-content-center">
  <nav>
    <ul class="pagination">
      <li (click)="prePage()" class="page-item" [ngClass]="{'disabled': currentPage === 1}">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li (click)="handleNextPage(i)" class="page-item" [ngClass]="{'active': item.id === currentPage}"
        *ngFor="let item of listPaging; let i = index">
        <a class="page-link" aria-current="page" href="#">{{item.id}}</a>
      </li>
      <li (click)="nextPage()" class="page-item" [ngClass]="{'disabled': currentPage === totalPage}">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>