/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-color: #f2f2f2;
    outline: none;
}
.media {
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all linear 0.3s;
    border: 1px solid #dadada;
    background-color: #fff;
}
.media:hover {
    box-shadow: 3px 3px 3px #dadada;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
.media img {
    width: 200px;
}
.media-body a {
    font-weight: bold;
    font-size: 18px;
    display: block;
    text-transform: capitalize;
}
.search input {
    border: 1px solid #dadada;
    height: 44px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    width: 100%;
}
.search input:focus {
    outline: none;
}
.search button {
    height: 42px;
    width: 100%;
    border: none;
    background: green;
    border-radius: 5px;
    color: #fff;
}
.item-content img {
    width: 500px;
}